@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #EE3024, #F88E1E);
    color: #000000;
    margin: 0;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

label {
    font-size: 1.2em;
}

select {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #F88E1E;
    color: #fff;
    cursor: pointer;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.steps-container {
    text-align: center;
}

.step img {
    max-width: 90%;
    margin-top: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checklist {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 0 8px rgba(0,0,0,0.1);
    width: 200px;
}

.checklist h3 {
    margin-top: 0;
}

.checklist ul {
    list-style-type: none;
    padding-left: 0;
}

.checklist li {
    margin-bottom: 10px;
}

.checklist span {
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #EE3024;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button, select {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #EE3024;
    color: white;
    cursor: pointer;
}

button:hover, select:hover {
    background-color: #F88E1E;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.step, .checklist, .navigation-buttons, .back-button {
    animation: fadeIn ease-in-out .5s;
}

.learn-more {
    font-size: 0.9em;
    color: #EE3024;
}
.learn-more a {
    color: #EE3024;
    text-decoration: underline;
    cursor: pointer;
}